<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="console" xsi:type="ColoredConsole" 
            layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${onexception:\:} ${exception}" />
    
    <target name="file" xsi:type="File" 
            layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${onexception:${newline}}${exception:format=toString}${onexception:${newline}${stacktrace}}"
            fileName="${specialfolder:folder=LocalApplicationData}/geheb/smart_backup/logs/trace-${shortdate}.log" 
            archiveFileName="${specialfolder:folder=LocalApplicationData}/geheb/smart_backup/logs/archives/trace-{#}.log"
            archiveAboveSize="10485760"
            archiveNumbering="DateAndSequence"
            maxArchiveFiles="10" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
  
</nlog>
