<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="console" xsi:type="ColoredConsole" 
            layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${onexception:\:} ${exception}" />
    
    <target name="file" xsi:type="File" 
            layout="${longdate:universalTime=true}|${level:uppercase=true}|${message}${onexception:${newline}}${exception:format=toString}${onexception:${newline}${stacktrace}}"
            fileName="${specialfolder:folder=CommonApplicationData}/geheb/smart_backup/logs/logfile.log"
            archiveEvery="Day"
            maxArchiveFiles="30"
            archiveAboveSize="104857600"
            keepFileOpen="true"
            encoding="utf-8"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
  
</nlog>
